.myForm{
    min-height: 370px;
}

input:invalid {
  border: 2px double red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid white;
}